* {
    box-sizing: border-box;
  
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
html, body{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh; 
   
}
a{
    text-decoration: none;
    cursor: pointer;
  }
.body_container{
    background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 10px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  
  .map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

.Container{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1400px;
}
.Nav_bar_Logo{
    height: 30px;
    margin-right: auto;
    display: block;
    
}
.Logo_return{
    color: rgb(56, 97, 251);
    text-decoration: none;
    cursor: pointer;
    
}
.logo_image{
    top: -20px;
    width: 80px;
    height: 60px;   
    position: relative;
    background-image: url(Images/logo8.png);
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.index_nav_options{
    display: flex;
    column-gap: 20px;
    margin-right: 100px;
  }
.index_nav_options_home, .index_nav_options_course, .index_nav_options_about{
    color: #7971ea ;
    font-size: 22px;
  
    padding: 11px 15px;
    border-bottom: 1px solid transparent;
    transition: border-color 300ms;
    font-weight: 500;
  }
.Nav_bar_Logout{
    font-size: 20px;
    color: whitesmoke !important;
    background-color: #7971ea;
    transition: background-color 300ms;
    padding: 3px 12px;
    border-radius: 30px;
    text-decoration: none;
    height: 40px;
    margin-bottom: 10px;
    
}
.Nav_bar_Logout:hover{
    background-color: #0d0cb5;
}