* {
    box-sizing: border-box;
  
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

html, body{
    margin: 0;
    padding: 0;
}

.index_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
    position: fixed;
	background: rgba(0, 0, 0, 0.4);
}

a{
text-decoration: none;
cursor: pointer;
}

.index_nav_options{
    display: flex;
    column-gap: 20px;
}

.index_nav_options_home, 
.index_nav_options_course, 
.index_nav_options_about{
    color: whitesmoke ;
    font-size: 22px;
    padding: 11px 15px;
    border-bottom: 1px solid transparent;
    transition: border-color 300ms;
    font-weight: 500;
}

.index_nav_options_home:hover, 
.index_nav_options_course:hover, 
.index_nav_options_about:hover{
    border-color: white;
}

.index_nav_login{
    font-size: 22px;
    color: whitesmoke ;
    background-color: #7971ea;
    transition: background-color 300ms;
    padding: 14px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.index_nav_login:hover{
    background-color: #0d0cb5;
} 

body{
    height: 100vh;
    overflow: hidden;
}

.Visual_layer{
    height: 100%;
    width: 100%;

	overflow-y: scroll;
	scroll-behavior: smooth;
}

.index_body{
    display: flex;
    /* max-width: 960px; */
    margin: 0;
}

.index_body_description{
    /* flex: 0 0 50%; */
    color: whitesmoke;
    margin: 0;
    padding: 0;
    max-width: 50%;
    max-height: 50%;
}

.overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(52, 58, 64, 0.6);
}

.Intro_Header{
    font-size: 1.6rem;
    font-weight: 800;
    margin-left: 25px;
}

.Intro_details{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.795);
    font-size: 1.2rem;
    text-align: justify;
}

.index_body_form{
    background-color: whitesmoke;
    padding: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 40px;
    background: #fff;
    border-radius: 7px;
}

.index_body_form_header{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.SignUp_Button{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    background-color: #7971ea;
    border-color: #7971ea;
    border-radius: 30px;
    padding: 14px 30px;
    transition: background-color 300ms;
}

.SignUp_Button:hover{
    background-color: #0d0cb5;
}

.index_body_form_inputs{
    display: flex;
    flex-direction: column;
    row-gap: 20px;  
}

.email, 
.password{
    height: 48px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.Contain_form{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.index_nav_logo{
    color: whitesmoke;
}

.Logo_image{
    width: 80px;
    height: 80px;   
    position: relative;
    background-image: url(Images/logo8.png);
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Hover box */
.index_nav_options_about {
    position: relative;
    cursor: pointer;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
	width: 100%;
	height: 100vh;
}

section#home {
    background-image: url("./Images/index.jpg");
    background-position:center ;
    background-size: cover;
}

section#about {
    background-image: url("./Images/jimmy-jin-rtbC1SOwMZ4-unsplash.jpg");
    background-position:center ;
    background-size: cover;
}

section#about div {
    font-size: 1.8rem;
    font-weight: 200;
    color: #ddd;
}